{% extends 'stocks/base.html' %}
{% block content %}
<h2>{{ produit.nom }}</h2>
<table class="table table-bordered mt-3">
    <tr><th>Référence</th><td>{{ produit.reference }}</td></tr>
    <tr><th>Prix</th><td>{{ produit.prix }} FCFA</td></tr>
    <tr><th>Stock actuel</th><td>{{ produit.quantite_stock }}</td></tr>
    <tr><th>Seuil d'alerte</th><td>{{ produit.seuil_alerte }}</td></tr>
    <tr><th>Catégorie</th><td>{{ produit.categorie }}</td></tr>
    <tr><th>Fournisseur</th><td>{{ produit.fournisseur }}</td></tr>
</table>

<h5>Historique des mouvements</h5>
<table class="table table-striped">
    <thead>
        <tr><th>Type</th><th>Quantité</th><th>Date</th><th>Note</th></tr>
    </thead>
    <tbody>
        {% for m in mouvements %}
        <tr>
            <td>{{ m.get_type_mouvement_display }}</td>
            <td>{{ m.quantite }}</td>
            <td>{{ m.date|date:"d/m/Y H:i" }}</td>
            <td>{{ m.note }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">Aucun mouvement</td></tr>
        {% endfor %}
    </tbody>
</table>

<a href="/stocks/produits/" class="btn btn-secondary">Retour</a>
<a href="/stocks/produits/{{ produit.pk }}/modifier/" class="btn btn-warning">Modifier</a>
{% endblock %}